#page-local-course-index .courseheader {
    width: 100%;
    background: linear-gradient(267.59deg, #4BAF47 0.19%, #472C6D 98.19%);
    border-radius: 1.125rem;
    color: #fff;
    padding: 6rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#page-local-course-index .courseheader #bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
}

#page-local-course-index #page {
    margin-top: 90px;
}

#page-local-course-index #page-header {
    display: none;
}

#page-local-course-index .courseheader h2 {
    font-size: 2.3em;
}

#page-local-course-index .courseheader h3 {
    font-size: 3.5em;
}

#page-local-course-index .coursecontent h2,
#page-local-course-index .coursecontent h3 {
    color: #574794;
}

#page-local-course-index .rightside {
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 1.125rem;
}

#page-local-course-index .rightside img {
    max-height: 32px;
}